/*layout*/
body {
  font-family: 'NanumSquare', sans-serif;
}
.wrap {
  width: 100%;
  min-width: 1320px;
}

/*header*/
header {
  width: 100%;
  height: 100px;
  line-height: 100px;
  padding: 0 300px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 100;
  background: #fff;
}
header .logo {
  display: block;
  float: left;
}
header .logo img {
  width: 196px;
  height: 46px;
}
header nav {
  float: right;
}
header nav .gnb li {
  display: inline-block;
  margin-left: 24px;
}
header nav .gnb li a {
  display: block;
  font-size: 18px;
  position: relative;
  font-weight: blod;
}

header nav .gnb li a:hover,
header nav .gnb li a:focus {
  color: #c7242a;
}

/*visual*/
section.visual {
  margin-top: 100px;
  position: relative;
}

section.visual .img {
  width: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
}
section.visual .img img {
  width: 100%;
}
section.visual .title {
  position: absolute;
  top: 30%;
  left: 8%;
  color: #fff;
}
section.visual .title h2 {
  font-size: 50px;
  margin-bottom: 30px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}
section.visual .title p {
  font-size: 20px;
  font-weight: 300;
  line-height: 160%;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

section.visual .title button {
  padding: 16px 54px;
  border: 2px solid white;
  background: transparent;
  border-radius: 4px;
  font-size: 18px;
  margin-top: 56px;
  color: white;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

section.visual .img .mask {
  display: block;
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.16);
}
section.visual .img .mask.a {
  left: 0%;
}
section.visual .img .mask.b {
  left: 25%;
}
section.visual .img .mask.c {
  left: 50%;
}
section.visual .img .mask.d {
  left: 75%;
}

@keyframes mask {
  0% {
    width: 25%;
    background: #000;
  }
  50% {
    width: 25%;
    background: #000;
  }
  99% {
    background: #000;
  }
}
section.visual .img .mask.a {
  animation-name: mask;
  animation-duration: 0.4s;
}
section.visual .img .mask.b {
  animation-name: mask;
  animation-duration: 0.6s;
}
section.visual .img .mask.c {
  animation-name: mask;
  animation-duration: 0.8s;
}
section.visual .img .mask.d {
  animation-name: mask;
  animation-duration: 1s;
}

@keyframes slid-up {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
    transform: translateY(40px);
  }
}

section.visual .title h2 {
  animation-name: slid-up;
  animation-duration: 1.5s;
}
section.visual .title p {
  animation-name: slid-up;
  animation-duration: 2.2s;
}
section.visual .title button {
  animation-name: slid-up;
  animation-duration: 2.8s;
}
section.visual .img img {
  transform: scale(1);
  animation-name: scaleani;
  animation-duration: 2s;
}

@keyframes scaleani {
  0% {
    transform: scale(1.3);
  }
  30% {
    transform: scale(1.3);
  }
}

/*section*/

section.about {
  padding: 120px 0;
}

section.about .sub_title {
  text-align: center;
}

section.about .sub_title h3 {
  font-size: 40px;
}

section.about .sub_title h3:before {
  border: 1px solid red;
}

section.about .sub_title p {
  font-size: 20px;
}
